.aboutContent{
    margin-top: 100px;
}

.image-wrap{
    max-width: 100% !important;
    height: auto;
    overflow: hidden;
    position: relative;
}

.image-wrap img{
    max-width: 80%;
    margin: auto;
    display: block;
}

.bios{
    position: absolute;
    width: 200px;
    height: auto;
    font-size: 17px;
    text-align: center;
    background-color: black;
    z-index: 2;
    padding: 5px;
    display: none;
}

.bios span:first-of-type{
    font-size: 22px;
    margin-bottom: 12px;
    display: block;
    border-bottom: 2px solid darkorange;
}

#mikesBio{
    /*left: 69%;
    top: 21%;*/
    right: 19.2%;
    bottom: 43%;
}

#samsBio{
    /*left: 35%;
    top: 25%;*/
    right: 54.4%;
    bottom: 46%;
}

.bio-circle{
    position: absolute;
    height: 18%;
    width: 7%;
    border: 5px solid #1c2f2f;
    background-color: rgba(1,1,1,0.2);
    border-radius: 100%;
}

#bio-circle-sam{
    bottom: 45%;
    right: 46.2%;
}

.bio-circle:hover{
    background-color: rgba(1,1,1,0.5);
}

#bio-circle-sam:hover + #samsBio{
    display: block;
}

#bio-circle-mike{
    bottom: 43.5%;
    right: 11%;
}

#bio-circle-mike:hover + #mikesBio{
    display: block;
}
