body {
    background-color: #172727;
    color: darkorange;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a:link {
    color: darkorange;
}

a:visited {
    color: #995400;
}

a:hover {
    color: #ffba66;
}

a:active {
    color: #ffe8cc;
}

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    cursor: n-resize;
}

body::-webkit-scrollbar-thumb {
  background-color: darkorange;
  outline: 1px solid #1c2f2f;
}
